/* RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Main CSS */
:root {
  --light-color: #e9eaec;
  --dark-color: #414868;
  --default-font: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  font-family: 'NordicaAdvancedRegular', var(--default-font);

  background-color: #eff1fc;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  background: url(./images/halie-west-25xggax4bSA-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  height: 200px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner {
  background-color: rgb(0,0,0,0.6);
  color: var(--light-color);

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 150px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero {
  margin: 20px 0;
  padding: 10px;
  font-weight: bold;
  text-align: justify;
}

form {
  width: 95vw;
  background-color: #bac3f8;

  padding: 50px 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-input {
  margin: 10px 0;

  display: flex;
  flex-direction: column;
}

button{
color: #fff;
background-color: #0066CC;
padding: 10px 30px;
border: 2px solid #0066cc;
border-radius: 50px;
cursor: pointer;
}

button:hover{
transition : 500ms;
padding: 10px 50px;
}

input {
  border-radius: 4px;
  font-size: 1.1rem;
  border: 1px solid rgb(224, 224, 224);
}

input:invalid:focus {
  border: 2px solid red;
}

/* Media Queries */

@media (min-width: 768px) {
  form {
    max-width: 70vw;
  }
  .container-input {
    max-width: 60vw;
  }
}

@media (min-width: 1024px) {
  body {
    flex-direction: row;
  }

  header {
    height: 100vh;
    width: 70vw;

    margin-right: 50px;
  }
}